*{
    margin: 0px;
    padding: 0px;
}

.headerTitle {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin: 5px 10px 5px 10px;
    transition: transform .2s;
}

.headerTitle:hover {
    transform: scale(1.5);
    opacity: 50%;
}

.headerComp{
    width: 100%;
    height: 70px;
}