@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.nameHeading {
    font-size: 100px;
    font-family: "Rubik";
    font-weight: 600;
    text-align: left;
}

.positionHeading {
    font-size: 15px;
    font-family: "Rubik";
    font-weight: 500;
}

.particleComponent {
    width: 100%;
    height: 300px;
}

/* @media (max-width: 900px) {
    .nameHeading{
        font-size: 30px;
        text-align: center;
    }

    .positionHeading {
        font-size: 12px;
        text-align: center;
    }

    .particleComponent {
        height: 180px;
        max-width: 100%;
    }
} */

/* iPhones */
@media only screen 
  and (-webkit-min-device-pixel-ratio: 2)
  and (max-device-width: 820px)
  and (orientation: portrait),
only screen 
  and (-webkit-min-device-pixel-ratio: 2)
  and (max-device-height: 820px)
  and (orientation: landscape) {
    /* Styles for iPhones */
    .nameHeading{
        font-size: 30px;
        text-align: center;
    }

    .positionHeading {
        font-size: 12px;
        text-align: center;
    }

    .particleComponent {
        height: 180px;
        max-width: 100%;
    }

/* Android phones */
@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 820px)
  and (-webkit-min-device-pixel-ratio: 1.5),
only screen 
  and (min-device-height: 320px)
  and (max-device-height: 820px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    /* Styles for Android phones */
    .nameHeading{
        font-size: 30px;
        text-align: center;
    }

    .positionHeading {
        font-size: 12px;
        text-align: center;
    }

    .particleComponent {
        height: 180px;
        max-width: 100%;
    }
}

/* General smartphone media query */
@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 820px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    /* Styles for most smartphones */
    .nameHeading{
        font-size: 30px;
        text-align: center;
    }

    .positionHeading {
        font-size: 12px;
        text-align: center;
    }

    .particleComponent {
        height: 180px;
        max-width: 100%;
    }
}
}