@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.projectHeading {
    font-family: "IBM Plex Mono";
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

.projectComp {
    width: 100%;
    height:1200px;
}

@media (max-width: 900px) {
    .projectComp {
        height: 2650px;
    }
}