@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: "hacked";
    src: url("../assets/Hacked-KerX.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

.container4{
    width: 100vw;
    max-width: 100%;
    background-color: #121214;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 50px;
}

.skillHeadline{
    font-size: 50px;
    font-family: "hacked";
    margin: 30px;
    margin-top: 50px;
}

.skillComp{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: transparent;
}