*{
    margin: 0px;
    padding: 0px;
}

.footerMainContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 83, 85);
    color: white;
    height: 20vh;
    margin-top: 50px;
}

.symbol{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}