*{
    margin: 0px;
    padding: 0px;
}

.homeMainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
}