*{
    padding: 0px;
    margin: 0px;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
} 

.headingContainer {
    margin: 30px;
}
